:root {
    --titleFont: 'Open Sans';
    --textFont: 'Raleway';
}

.mainDs {
    display: flex;
    justify-content: space-between;
    padding: 80px 172px;
    background-color: #F2F4FA;
}

.mainDs_left {
    display: flex;
    flex-direction: column;
    gap: 20px;
}

.maindf{
    display: flex;
}

.mainDs_left h1 {
    font-family: var(--titleFont);
    font-size: 36px;
    font-weight: 300;
    color: #212121;
}

.mainDs_left p {
    font-family: var(--titleFont);
    font-weight: 400;
    font-size: 16px;
    color: #3F4255;
    max-width: 424px;
}

.mainDs_right {
    margin-top: 10px;
    margin-left: 40px;
    display: flex;
    gap: 4px;
}

.mainDs_right input {
    width: 336px;
    height: 60px;
    border-radius: 6px;
    background-color: #FFFFFF;
    box-shadow: 0px 8px 40px 0px #00000014;
    border: none;
}
.mainDs_right input:active{
    border: none;
    box-shadow: 0px 8px 40px 0px #3F4255;
}

.mainDs_right button {
    width: 88px;
    height: 60px;
    border-radius: 6px;
    background-color: #B79C10;
    border: none;
    color: #FFFFFF;
    font-family: var(--textFont);
    font-size: 16px;
}
.mainDs_right button:hover{
    transition: 0.5s;
    background-color: #FFF7CC;
    color: #212121;
}
.mainDs_right button:active{
    background-color: #B79C10;
    transition: 0.5s;
}

@media (max-width:1000px) {
    .mainDs {
        flex-direction: column;
        align-items: center;
        padding: 40px 20px;
        gap: 40px;
    }

    .mainDs_right {
        flex-direction: column;
        gap: 12px;
    }

    .mainDs_right input {
        width: 100%;
    }

    .mainDs_right button {
        width: 100%;
    }
    
}