.maps_section {
    padding: 40px 0;
    background: #fff;
}

.maps_container {
    max-width: 1200px;
    margin: 0 auto;
    padding: 0 20px;
}

.maps_container iframe {
    width: 100%;
    border-radius: 12px;
    box-shadow: 0 4px 20px rgba(0, 0, 0, 0.1);
}

@media (max-width: 1000px) {
    .maps_container iframe {
        width: 700px;
        height: 300px;
        border-radius: 12px;
        box-shadow: 0 4px 20px rgba(0, 0, 0, 0.1);
        margin-left: 20px;
    }
}
@media (max-width: 730px) {
    .maps_container iframe {
        width: 500px;
        height: 250px;
        border-radius: 12px;
        box-shadow: 0 4px 20px rgba(0, 0, 0, 0.1);
        margin-left: 20px;
    }
}

@media (max-width: 500px) {
    .maps_container iframe {
        width: 380px;
        height: 200px;
        border-radius: 12px;
        box-shadow: 0 4px 20px rgba(0, 0, 0, 0.1);
        margin-left: 20px;
    }
}
@media (max-width:400px) {
    .maps_container iframe {
        width: 300px;
        height: 180px;
        border-radius: 12px;
        box-shadow: 0 4px 20px rgba(0, 0, 0, 0.1);
        margin-left: 20px;
    }
}

@media (max-width:320px) {
    .maps_container iframe{
        width: 200px;
        height: 180px;
    }
}