.mainYu-section {
    padding: 40px 0;
    background-image: url("../../../public/bg.svg");
    background-repeat: no-repeat;
    background-size: cover;
}

@keyframes slideUp {
    0% {
        opacity: 0;
        transform: translateY(100px);
    }

    100% {
        opacity: 1;
        transform: translateY(0);
    }
}

.main_yu {
    display: flex;
    justify-content: center;
    gap: 70px;
    padding: 40px 20px;
    max-width: 1200px;
    margin: 0 auto;
}

.main_yu1 {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 20px;
    opacity: 0;
    transform: translateY(100px);
}

.main_your {
    width: 126px;
    height: 126px;
    background-color: #FFE145;
    border-radius: 100px;
    display: flex;
    justify-content: center;
    align-items: center;
    font-family: sans-serif;
    font-weight: 600;
    font-size: 58px;
    color: #3F4255;
    transition: transform 0.3s ease;
}

.main_your:hover {
    transform: scale(1.05);
}

.main_yu1 p {
    font-size: 20px;
    color: #3F4255;
    text-align: center;
    margin: 0;
    font-weight: 500;
}

.main_yu1.animate {
    animation: slideUp 0.7s cubic-bezier(.2, .9, .2, 1) forwards;
}

.main_yu1:nth-child(1).animate {
    animation-delay: 0.05s;
}

.main_yu1:nth-child(2).animate {
    animation-delay: 0.18s;
}

.main_yu1:nth-child(3).animate {
    animation-delay: 0.32s;
}

.main_yu1:nth-child(4).animate {
    animation-delay: 0.46s;
}

@media (max-width: 735px) {
    .main_yu {
        display: flex;
        flex-direction: column;
        gap: 40px;
        padding: 20px;
    }
    
    .main_your {
        width: 100px;
        height: 100px;
        font-size: 42px;
    }

    .main_yu1 p {
        font-size: 16px;
    }
}