:root {
    --titleFont: 'Open Sans';
    --textFont: 'Raleway';
}

.main1 {
    display: flex;
    justify-content: space-between;
    margin-block: 48px;
}

.main1 h1 {
    font-family: var(--textFont);
    font-size: 36px;
    font-weight: 300;
    color: #3F4255;
    margin: 0;
}

.main1 button {
    width: 118px;
    height: 48px;
    background-color: #F2F4FA;
    color: #9093A6;
    border: 2px solid #FFFFFF;
    font-family: var(--textFont);
    font-size: 16px;
    font-weight: 700;
}

.main1 button:hover {
    background-color: #D4D7E5;
    transition: 0.2s;
}

.main1 button:active {
    background-color: #C0C4D8;
    transition: 0.2s;
}

.main2 {
    width: 296px;
    height: 296px;
    background-color: #FFFFFF;
    box-shadow: 0px 2px 16px 0px #3C3E4A14;
    border-radius: 16px;
    margin-bottom: 30px;
}

.main2:hover {
    box-shadow: 0px 4px 24px 0px #3C3E4A26;
    transition: 0.2s;
}

.main2:active {
    box-shadow: 0px 2px 16px 0px #3C3E4A14;
    transition: 0.2s;
}

.main2 img {
    border-radius: 16px 16px 0 0;
}

.bir {
    margin-top: 25px;
    margin-left: 70px;
}

@media (max-width:730px) {
    .main2 {
        width: 250px;
        height: 200px;
        display: flex;
        gap: 30px;
    }
}

.main .mySwiper .swiper-pagination-bullet {
    background: rgba(255, 225, 69, 0.35);
}

.main .mySwiper .swiper-pagination-bullet-active {
    background: #FFE145;
}